.line{
    width: 80px;
    height: 4px;
    background-color: rgb(44, 62, 80);
    margin-inline: 10px;
}
h2{
    color: #2C3E50;
}
.star{
    color: rgb(44, 62, 80);
 
}
.layer {
  background-color: #1abc9ce6 !important;
  transition: all .5s;
  
  
}
.layer:hover{
  opacity: .9 !important;
}
.image {
  width: 50%;
  position: absolute;
  top: 50%;

  left: 50%;
 
  transform: translate(-60%, -49%);
 
}
.imageBg {
  background-color: rgba(13, 110, 253, 0.25) !important;

}
